{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flask - 注册{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>注册</h1>
</div>
<div class="col-md-4">
    <form class="form" method="post" role="form">
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.email) }}
        {{ wtf.form_field(form.username) }}
        {{ wtf.form_field(form.password) }}
        {{ wtf.form_field(form.password2) }}
        {{ wtf.form_field(form.verification_code) }}
	    <div id="verifyImg">
	        <img src="{{ url_for("static", filename="verifyCode/" + VcodeName) }}" />
	        <a href="#">看不清？换一张！</a>
	    </div>
        {{ wtf.form_field(form.submit) }}
    </form>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for("static", filename="scripts/verificationName.js") }}"></script>
{% endblock %}