.profile-thumbnail {
    float: right;
    box-shadow: 3px 3px 6px #666;
}
.profile-header {
    min-height: 260px;
}
.navbar-backcolor {
    background-color: #9A32CD;
    border-color: #080808;
    border: 1px solid #f0ad4e
}

div.navbar div.container a {
    color: #f0ad4e;
}

.nav-tabs>li.active>a {
    background-color: transparent;
    border: none;
}

textarea.form-control {
    height: 100px;
}

@media (max-width: 767px) {
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
        color: #f0ad4e;
    }
}


ul.posts {
    list-style-type: none;
    padding: 0px;
    margin: 16px 0px 0px 0px;
}
ul.posts li.post {
    padding: 8px;
    border: 3px solid #af42ca;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 3px 3px 6px #5bc0de;

}
ul.posts li.post:hover {
    background-color: #E066FF;
}
div.post-date {
    float: right;
}
div.post-author {
    font-weight: bold;
}
div.post-thumbnail {
    position: absolute;
}
div.post-content {
    margin-left: 48px;
    min-height: 48px;
    /.background-color: red;./
}
div.pagination {
    width: 100%;
    text-align: center;
    padding: 0px;
    margin: 0px;
}
body {
    background-color: #F0FFFF;
}

div.flask-pagedown-preview {
    margin: 10px 0px 10px 0px;
    border: 1px solid #e0e0e0;
    padding: 4px;
}
div.flask-pagedown-preview h1 {
    font-size: 140%;
}
div.flask-pagedown-preview h2 {
    font-size: 130%;
}
div.flask-pagedown-preview h3 {
    font-size: 120%;
}
.post-body h1 {
    font-size: 140%;
}
.post-body h2 {
    font-size: 130%;
}
.post-body h3 {
    font-size: 120%;
}

div.post-footer {
    text-align: right;
}

div.post-footer span.thumbs_hidden {
    display: none;
}

.table.followers tr {
    border-bottom: 1px solid #e0e0e0;
}

div.post-tabs, div.page-header {
    margin-top: 16px;
    border-bottom: none;
}

div.post-tabs ul.posts, div.page-header ul.comments {
    margin: 0px;
    border-top: none;
}
ul.comments {
    list-style-type: none;
    padding: 0px;
    margin: 16px, 0px, 0px, 0px;
}
ul.comments li.comment {
    margin-left: 32px;
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
}
ul.comments li.comment:nth-child(1) {
    #border-top: 1px solid #e0e0e0;
}
ul.comments li.comment:hover {
    background-color: #f0f0f0;
}
div.comment-date {
    float: right;
}
div.comment-author {
    font-weight: bold;
}
div.comment-thumbnail {
    position: absolute;
}
div.comment-content {
    margin-left: 48px;
    min-height: 48px;
}
div.comment-form {
    margin: 16px 0px 16px 32px;
}
div.comment-body i {
    color: red;
}
div#verifyImg a {
    vertical-align: bottom;
}

div.flask-pagedown-preview, textarea#flask-pagedown-body {
    border: 1px solid #00ffde;
    background-color: transparent;
}

.btn-default {
    background-color: #00ffde;
    border-color: transparent;
}

/* link style*/
a.snow {
    padding-right: 45px;
    background: url(../static/image/snow.gif) no-repeat right center;
}

a[href^="http"]:link, a[href^="http:"]:visited {
    text-decoration: none;
    font-weight: bold;
    padding-right: 10px;
    background: url(../static/image/externalLink.gif) no-repeat right top;
}

a[href^="http:"]:hover, a[href^="http:"]:focus, a[href^="http:"]:active {
    color: yellow;
    text-decoration: underline;
    font-weight: bold;
}

div.post-footer a:hover, div.post-footer a:focus, div.post-footer a:active {
    text-decoration: none;
}

div#footer {
    text-align: center;
}
/* font style */
@font-face {
    font-family: "Prelude";
    src: url(../static/font/preludeflf-webfont.woff);
}

a.navbar-brand.snow {
    font-family: Prelude;
    font-size: 180%;
}

/*css3 animated*/
#comments:target {
    padding-left: 15px;
    background-color: hsla(180, 70%, 60%, .2);
    text-shadow: 1px 1px 2px #fff;
}

#comments {
    font-size: 150%;
    transition: background-color 1s ease-out,
                padding-left .5s ease-out;
}