<ul  class="posts">
    {% for post in posts %}
    <li class="post">
        <div class="post-thumbnail">
            <a href="{{ url_for(".user", username=post.author.username) }}">
                <img class="img-rounded profile-thumbnail" 
                       src="{{ post.author.gravatar(size=40) }}">
            </a>
        </div>
        <div class="post-content">
            <div class="post-date">{{ moment(post.timestamp).fromNow() }}</div>
            <div class="post-author">
                <a href="{{ url_for(".user", username = post.author.username) }}">
                    {{ post.author.username }}
                </a>
            </div>
            <div class="post-body">
	            {% if post.body_html %}
	                {{ post.body_html | safe }}
	            {% else %}    
	                {{ post.body }}
	            {% endif %}
            </div>
            <div class="post-footer">
                {% if current_user.is_authenticated %}
                <a href="###" class="thumbs">
				{%if not current_user.is_thumbing_post(post) %}
					<span class="label label-info">点赞</span>
					<span class="label label-warning thumbs_hidden">取消赞</span>
				{% else %}
					<span class="label label-info thumbs_hidden">点赞</span>
					<span class="label label-warning">取消赞</span>
				{% endif %}
					<span class="thumbs_hidden">{{ url_for(".thumbPost", postId = post.id) }}</span>
					<span class="thumbs_hidden">{{ url_for(".cancelThumb", postId = post.id) }}</span>
                </a>
                {% endif %}
                    <span class="label label-primary">{{ post.usersthumb.count() }}人赞同</span>
                <a href="{{ url_for(".post", id = post.id) }}">
                    <span class="label label-primary">分享</span>
                </a>
                {% if current_user == post.author %}
                <a href="{{ url_for(".edit", id = post.id) }}">
                    <span class="label label-warning">编辑</span>
                </a>
                {% elif current_user.is_administrator() %}
                <a href="{{ url_for(".edit", id = post.id) }}">
                    <span class="label label-danger">编辑[ADMIN]</span>
                </a>
                {% endif %}
                <a href="{{ url_for(".post", id=post.id) }}#comments">
                    <span class="label label-primary">
                        {{ post.comments.count() }}条评论
                    </span>
                </a>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>