<!DOCTYPE html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, maximum-scale=1.0">
<title>Stunning CSS3</title>
<link type="text/css" rel="stylesheet" href="../static/candy/content.css">
</head>
<body id="foo">
<div id="wrapper">

	<div id="header">
    	<img src="../static/candy/images/logo.png" alt="Little Pea Bakery" width="98" height="76" id="logo">
        <form action="#" method="post" id="form-search">
        <label for="search">Search:</label>
        <input type="text" name="search" id="search" value="">
	    <input type="submit" value="go">
	  </form>
		<div id="nav-main">
            <ul id="nav">
               <li><a href="#">Home</a></li>
               <li><a href="#">About</a></li>
               <li><a href="#">Menu</a></li>
               <li><a href="#">Location</a></li>
               <li><a href="#">Catering</a></li>
               <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
  </div>
    
	<div id="content-main">
        <h1>You deserve a sweet little treat every now and then.</h1>    
        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis.</p>
        <div class="feature" id="feature-candy">
            <h2>Candies</h2>
            <h3>Truffles, Bars, Caramels, and more</h3>
            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. </p>
        </div>
  <div class="feature" id="feature-pastry">
            <h2>Pastries</h2>
            <h3>Croissants, Danishes, Cream Puffs, and more</h3>
            <p>Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est.</p>
        </div>
<div class="feature" id="feature-dessert">
            <h2>Desserts</h2>
            <h3>Cakes, Pies, Tarts, Cookies, and more</h3>
        <p>Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.</p>
        </div>
  </div>
    
    <div id="content-secondary">
    	<div id="newsletter">
        	<h3>Email Newsletter</h3>
            <p>Sign up to get monthly recipes, exclusive offers and more.</p>
            <form action="#" method="post" id="form-newsletter">
                <label for="email">Email:</label>
                <input type="email" name="email" id="email" value="">
                <input type="submit" value="subscribe">
            </form>
        </div>
        <div id="specials">
        	<h3 class="badge">Sweet Deals</h3>
        	<h3>Mother's Day Special</h3>
            <p>Pellen tesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
        </div>
        <div id="news">
          <h3>News</h3>
            <ul>
               <li><a href="#">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</a></li>
               <li><a href="#">Aliquam tincidunt mauris eu risus</a></li>
               <li><a href="#">Vestibulum auctor dapibus neque</a></li>
            </ul>
        </div>
    </div>
	
    <div id="footer">
    	<div id="about">
       	  <h2>About this Page</h2>
            <p>This page is for a fictional site.</p>
            <p>It uses CSS3 media queries to change the design at different screen sizes;</p>
            <p>resize your browser window or load it up in a mobile device to check it out.</p>
        </div>
		<div id="credits">
        	<h2>Credits</h2>
            <dl>
            	<dt>Web Fonts: </dt>
                <dd>Nadia Serif from <a href="http://www.kernest.com">Kernest</a></dd>
                <dt>Illustrations: </dt>
                <dd>Yummy by <a href="http://www.iconeden.com/icon/yummy-free-icons.html">Icon Eden</a></dd>
            </dl>
        </div>
    </div>
    
</div>
</body>
</html>
