{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}FlaskBlog - 评论管理{% endblock %}

{% block page_content %}
<div class="page-header">
    <ul class="nav nav-tabs">
        <li><a href="{{ url_for(".moderate") }}">管理所有评论</a></li>
        <li><a href="{{ url_for(".show_forbidden") }}">仅显示已被删除的文章</a></li>
    </ul>
    {% if current_user.can(Permissions.MODERATE_COMMENTS) %}
        {% set moderate = True %}
    {% endif %}
    {% include "_comments.html" %}
</div>
{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, ".moderate") }}
</div>
{% endif %}
{% endblock %}